*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1
{
    margin-left:550px;
    margin-top:50px;
}

#boxes
{
    height:300px;
    width:550px;
    background-color: aqua;
    margin-left:550px;
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border:4px solid white;
    box-shadow:10px 10px 15px black;

}

.box
{
    height:100px;
    width:100px;
    border:3px solid transparent;
    transition:border;
    border:2px solid white;
    box-shadow:2px 3px 5px rgb(0, 0, 0);
    border-radius:20px

}

/* colors of boxes */
#yellow
{
    background-color: yellow;
}

#purple
{
    background-color: purple;
}

#red
{
    background-color:red;
}

#green
{
    background-color: green;
}

#black
{
    background-color: black;
}

#orange
{
    background-color:orange;
}

#brown
{
    background-color:brown;
}

#pink
{
    background-color:pink;
}

#grey
{
    background-color:grey;
}

#blue
{
    background-color:blue;
}

.box:hover
{
    border:3px solid white;
}